alembic==1.7.5
backcall==0.2.0
cachetools==5.0.0 
certifi==2021.10.8 
Click==7.1.2
decorator==5.1.0 
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
httplib2==0.20.2
jmespath==0.10.0
pep8==1.7.1
pyparsing==3.0.6 
pytest==6.2.5
python-dateutil==2.8.2
requests==2.27.1
rsa==4.8
six==1.16.0 
SQLAlchemy==1.4.29
traitlets==5.1.1
uritemplate==4.1.1
urllib3==1.26.7
Werkzeug==2.0.2